/* V 1.1 */
/* https://codepen.io/jheftmann/pen/qwbaRN */
/* import SV base styles */

@font-face {
    font-family: "Replica-Regular-Webfont";
    src: url("/_assets/lineto-replica-regular.eot");
    src: url("/_assets/lineto-replica-regular.eot?#iefix") format("embedded-opentype"), url("/_assets/lineto-replica-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Replica-Regular-S-Webfont";
    src: url("/_assets/lineto-replica-regular.eot");
    src: url("/_assets/lineto-replica-regular.eot?#iefix") format("embedded-opentype"), url("/_assets/lineto-replica-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* -------------------------------------------------------------------------------- */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings:"onum" 0, "pnum" 1, "kern" 1, "ss01" 0;
}

body {
  background: white;
  color: black;
  font-size: 15px;
  line-height: 1;
  font-family: "Replica-Regular-Webfont", 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: .04em;
}

p, li {
  line-height: 1.5;
}

strong {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 90%;
}

em {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: 110%;
}

pre, code {
  font-family: monospace;
}

.index h1 {
  /* font-size: 100px !important; */
}

.sv-document-nav-title,
.sv-document-nav-items {
  background: white;
}

.sv-document-nav-item:hover {
  list-style-type: none;
}

.sv-document-article {
  background: white;
  padding-bottom: 25px;
}

.sv-document-article p {
  margin-bottom: 0;
}

.sv-document-article p + p {
  margin-top: 25px;
}

.sv-document-article ul,
.sv-document-article ol {
  margin-top: 0;
  margin-bottom: 25px;
}

.sv-document-article ul {
  list-style: disc;
  margin-left: 15px;
}

.sv-document-article li
.sv-document-article ul li,
.sv-document-article ol li {
  margin-bottom: 0;
}

.sv-document-article ul li ul,
.sv-document-article ol li ol, {
  margin-left: 25px;
}

.document .sv-document-nav.is-scrolled {
  top: -45px;
}

.document .sv-document-nav *,
.document .xxix-nav * {
  font-size: 15px;
}

.document .sv-document-nav-control {
  display: none;
}

.sv-document-nav-items {
  padding-left: 15px;
}

.document p,
.document li {
  font-size: 15px;
  font-weight: normal;
}

.document h1,
.document h2,
.document h3,
.document h4,
.document h5,
.document h6 {
  margin: 0;
  padding: 0;
  line-height: 1.125;
  font-weight: normal;
}

.document h1 {
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 25px;
}

.document h2 {
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.document h3 {
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.document h4 {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.document h5 {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.document h6 {
  font-size: 13px;
  margin-top: 30px;
  margin-bottom: 15px;
  text-transform: none;
}

.document p {

}

.document p img:last-child {
  margin-bottom: 0;
}

.document p img:first-child {
  margin-bottom: 25px;
}

.document h3:hover .octicon-link,
.document h4:hover .octicon-link,
.document h5:hover .octicon-link,
.document h6:hover .octicon-link {
  display: none;
}

.document hr {
  width: 100%;
  height: 1px;
  background-color: black;
  border: 0;
  outline: 0;
  margin: 50px 0;
}

.document .sv-badge {
  display: none !important;
}

.document .sv-badge p {
  font-size: 11px;
  margin-bottom: 0;
  padding-left: 25px;
}

/* table styles */
.document table {
  width: 100%;
  margin: 25px 0 50px;
}

.document td, .document th {
  margin: 0;
  padding: 0;
  line-height: 1.1;
  font-size: 15px;
  text-align: left;
  font-weight: normal;
}

.document table p {
  margin: 0;
  padding: 0;
  line-height: 1.1;
  font-size: 15px;
}

.document tr {
  border-bottom: 1px solid black;
}

.document td, .document th {
  padding: 10px 0;
  width: 33%;
}

/* -------------------------------------------------------------------------------- */
/*
  Mobile First!
  Include your desktop styles here
*/

@media screen and (min-width: 768px){
  body {
    background: white;
  }

  .document .sv-badge {
    display: block !important;
    width: auto;
    height: auto;
    bottom: 25px;
    left: 8.3%;
  }

  .sv-document-nav-title,
  .sv-document-nav-items {
    background: transparent;
  }

  .sv-document-nav-item:hover {
    list-style-type: circle;
  }

  .sv-document-nav-item:active {
    list-style-type: disc;
  }

  .document .sv-document-nav-control {
    padding: 15px;
  }

  .sv-document-article {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .split-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
  }

  .document h1 {
    /* font-size: 100px; */
  }

  .document h6 {
    width: 75%;
  }

  .document .sv-document {
    max-width: none;
  }

  .document .sv-document-nav {
    left: 0 !important;
    position: fixed !important;
    min-height: 0 !important;
  }

  .document .sv-document-nav,
  .document .sv-document-nav.is-scrolled {
    top: 50px !important; /*this*/
  }

  .document .sv-document-nav-items {
    padding-top: 100px; /*plus this*/
    padding-left: 25px;
  }

  .document .sv-document-article {
    margin-top: 140px; /*should be a little more than this*/
    margin-left: 25%;
    padding: 0 25px;
  }

  .document .sv-document-nav-title,
  .document .sv-document-nav-description,
  .document .xxix-logo {
    padding: 25px 0 25px 25px;
    top: 0;
  }

  .document .xxix-logo {
    width: 8.3%;
    position: fixed;
  }

  .document .sv-document-nav-title {
    left: 25%;
    width: 25%;
    position: fixed;
  }

  .document .sv-document-nav-description {
    left: 75%;
    width: 25%;
    position: fixed;
    padding-left: 50px;
  }
}
/* end of 768+ */

/* -------------------------------------------------------------------------------- */
/* print styles */

@page {
  margin: 0.27in;
}

@media print {

  /* header & nav */
  .document .sv-document-nav *,
  .document .xxix-nav * {
    font-size: 10pt;
  }

  .xxix-nav .xxix-logo {
    float: left;
    width: 10%;
    margin-left: 50px;
  }

  .xxix-nav .sv-document-nav-title {
    float: left;
    width: 25%;
    margin-left: 25%;
    padding: 0;
    border-bottom: none;
  }

  .xxix-nav .sv-document-nav-description {
    display: block;
    margin-left: 75%;
    padding: 0;
  }

  .xxix-nav .sv-document-nav-description p {
    line-height: 1;
  }

  /* document body */
  .sv-document {
    max-width: none;
  }

  .sv-document-article {
    clear: both;
    padding: 50px;
    width: 100%;
  }

  .document pre {
    background-color: white;
    border: 1px solid black;
    max-width: 500px;
  }

  .document p,
  .document li {
    font-size: 10pt;
    line-height: 1.5;
  }

  .document h1,
  .index h1 {
    font-size: 30pt !important;
  }

  .document h2 {
    font-size: 25pt;
  }

  .document h3 {
    font-size: 18pt;
  }

  .document hr {
    margin: 5pt 0 20pt;
    border-top: 1px solid black;
  }
}

/* -------------------------------------------------------------------------------- */
/* // presentation styles */

.sv-presentation iframe {
  border:none;
  width:100%;
  height:100vh;
  overflow:auto;
}

.sv-presentation .full img {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.sv-presentation p {
  font-size:20px;
  line-height: 1.4;
  max-width: 700px;
}

.presentation.md .sv-badge {
  display: none;
}

.slick-slide {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
